/*
-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------

@Media Queries for responsive design. These override the primary('mobile first') styles.

Ensure your main styling comes before this!

-------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
*/

/*
----------------------------------------
This design is non-responsive yet so 
all queries are the same. Standard site.
----------------------------------------
*/

/* Mobile queries. */
nav select, .selector {
	display: none;
}

nav#mainnav ul, aside { display: none; }

.one_full { 
	width: 280px; 
}

.one_half { 
	width: 280px; 
}

.one_third { 
	width: 280px; 
}

.two_third { 
	width: 280px; 
}

.one_quarter, footer .widget { 
	width: 280px; 
}
	
.wrapper {
	width: 280px;
}

/* iPhone landscape */
@media only screen and (min-width: 480px) {
	
	nav select, .selector {
		display: none;
	}
	
	nav#mainnav ul, aside { display: inherit; }
	
	.one_full { 
		width: 1000px; 
	}

	.one_half { 
		width: 475px; 
	}

	.one_third { 
		width: 315px; 
	}

	.two_third { 
		width: 655px; 
	}

	.one_quarter, footer .widget { 
		width: 230px; 
	}
	
	.wrapper {
		width: 1000px;
	}
}

/* Small tablet portrait */
@media only screen and (min-width: 640px) {
	
	nav select, .selector {
		display: none;
	}
	
	nav#mainnav ul, aside { display: inherit; }
	
	.one_full { 
		width: 1000px; 
	}

	.one_half { 
		width: 475px; 
	}

	.one_third { 
		width: 315px; 
	}

	.two_third { 
		width: 655px; 
	}

	.one_quarter, footer .widget { 
		width: 230px; 
	}
	
	.wrapper {
		width: 1000px;
	}
}

/* iPad portrait */
@media only screen and (min-width: 768px) {
	
	nav select, .selector {
		display: none;
	}
	
	nav#mainnav ul, aside { display: inherit; }
	
	.one_full { 
		width: 1000px; 
	}

	.one_half { 
		width: 475px; 
	}

	.one_third { 
		width: 315px; 
	}

	.two_third { 
		width: 655px; 
	}

	.one_quarter, footer .widget { 
		width: 230px; 
	}
	
	.wrapper {
		width: 1000px;
	}
}

/* Small browser / iPad landscape */
@media only screen and (min-width: 1024px) {
	
	nav select, .selector {
		display: none;
	}
	
	nav#mainnav ul, aside { display: inherit; }
	
	.one_full { 
		width: 1000px; 
	}

	.one_half { 
		width: 475px; 
	}

	.one_third { 
		width: 315px; 
	}

	.two_third { 
		width: 655px; 
	}

	.one_quarter, footer .widget { 
		width: 230px; 
	}
	
	.wrapper {
		width: 1000px;
	}
}

/* Generic browser */
@media only screen and (min-width: 1280px) {
	
	nav select, .selector {
		display: none;
	}
	
	nav#mainnav ul, aside { display: inherit; }
	
	.one_full { 
		width: 1000px; 
	}

	.one_half { 
		width: 475px; 
	}

	.one_third { 
		width: 315px; 
	}

	.two_third { 
		width: 655px; 
	}

	.one_quarter, footer .widget { 
		width: 230px; 
	}
	
	.wrapper {
		width: 1000px;
	}
}

/* Large browser */
@media only screen and (min-width: 1600px) {
	
	nav select, .selector {
		display: none;
	}
	
	nav#mainnav ul, aside { display: inherit; }
	
	.one_full { 
		width: 1000px; 
	}

	.one_half { 
		width: 475px; 
	}

	.one_third { 
		width: 315px; 
	}

	.two_third { 
		width: 655px; 
	}

	.one_quarter, footer .widget { 
		width: 230px; 
	}
	
	.wrapper {
		width: 1000px;
	}
}