<!doctype html>

<!--[if lt IE 7]> 
	<html class="nojs ms lt_ie7" lang="en"> 
<![endif]-->

<!--[if IE 7]>    
	<html class="nojs ms ie7" lang="en"> 
<![endif]-->

<!--[if IE 8]>    
	<html class="nojs ms ie8" lang="en"> 
<![endif]-->

<!--[if gt IE 8]> 
	<html class="nojs ms" lang="en"> 
<![endif]-->

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="PyroCMS Documentation">
	<meta name="author" content="PyroCMS Dev Team">
	
	<base href="{{ base_url }}" /> 

  	<title>{{ variables:get_var name="title" }} | {{ site_title }}</title>

  	{{ asset:css file="style.css" }}

  	<script src="assets/js/libs/modernizr.js"></script>
</head>

<body>
	
	<!-- header -->
	<header>
		<div class="wrapper">
			<div id="logo">
				<h1><a href="http://pyrocms.com" title="Home">{{ asset:img file="logo.png" }}</a></h1>
			</div>
			<nav id="primary">
				<ul>
					<li{{ if segment_1 == 'general' }} class="current"{{ endif }}>{{ link uri="general" title="General Info" }}</li>
					<li{{ if segment_1 == 'modules-and-tags' }} class="current"{{ endif }}>{{ link uri="modules-and-tags" title="Modules &amp; Tags" }}</li>
					<li{{ if segment_1 == 'developers' }} class="current"{{ endif }}>{{ link uri="developers" title="Developers" }}</li>
					<li{{ if segment_1 == 'pyrocms-pro' }} class="current"{{ endif }}>{{ link uri="pyrocms-pro" title="PyroCMS Pro" }}</li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- /header -->
	
	<!-- content -->
	<section id="content">
		<div class="wrapper">

			<!-- doc_menu -->
			<div id="doc_menu">
                                <h5>TABLE OF CONTENTS</h5>
                                {{ if !segment_1 }}
                                    <ul>
					<li{{ if segment_1 == 'general' }} class="current"{{ endif }}>{{ link uri="general" title="General Info" }}</li>
					<li{{ if segment_1 == 'modules-and-tags' }} class="current"{{ endif }}>{{ link uri="modules-and-tags" title="Modules &amp; Tags" }}</li>
					<li{{ if segment_1 == 'developers' }} class="current"{{ endif }}>{{ link uri="developers" title="Developers" }}</li>
					<li{{ if segment_1 == 'pyrocms-pro' }} class="current"{{ endif }}>{{ link uri="pyrocms-pro" title="PyroCMS Pro" }}</li>
				</ul>
                                {{ endif }}
				{{ if segment_1 == 'general' }}
					<p><strong>About PyroCMS</strong></p>
					{{ nav:auto start='general/about' }}

					<p><strong>Getting Started</strong></p>
					{{ nav:auto start='general/getting-started' }}
		
					<p><strong>Alternate Server Environments</strong></p>
					{{ nav:auto start='general/getting-started/alternate-server-environments' }}	

					<p><strong>Basics</strong></p>
					{{ nav:auto start='general/basics' }}

					<p><strong>Theming</strong></p>
					{{ nav:auto start='general/theming' }}
				{{ endif }}

				{{ if segment_1 == 'modules-and-tags' }}
					<p><strong>Tag Reference</strong></p>
					{{ nav:auto start='modules-and-tags/tag-reference' }}	
				{{ endif }}

				{{ if segment_1 == 'developers' }}
					<p><strong>Developer Basics</strong></p>
					{{ nav:auto start='developers/basics' }}	

					<p><strong>Contributing to PyroCMS</strong></p>
					{{ nav:auto start='developers/contributing' }}	

					<p><strong>Add-on Development</strong></p>
					{{ nav:auto start='developers/addons' }}
		
					<p><strong>Module Development</strong></p>	
					{{ nav:auto start='developers/addons/modules' }}

					<p><strong>Developer Tools</strong></p>
					{{ nav:auto start='developers/tools' }}	

					<p><strong>Streams Core API</strong></p>
					{{ nav:auto start='developers/tools/streams-api' }}	
				{{ endif }}

				{{ if segment_1 == 'pyrocms-pro' }}
					<strong>About</strong>
					{{ nav:auto start='pyrocms-pro/about' }}	

					<strong>Features</strong>
					{{ nav:auto start='pyrocms-pro/features' }}	
				{{ endif }}
		</div>
		<!-- /doc_menu -->

		<!-- main -->
		<div id="main">