<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
	<title>{{ variables:get_var name="title" }} | {{ site_title }}</title>

	<meta name="author" content="PyroCMS Dev Team">

	<base href="{{ base_url }}" /> 

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.0.min.js"><\/script>')</script>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

  {{ asset:css file="normalize.css" }}
	{{ asset:css file="main.css" }}
	{{ asset:css file="shCore.css" }}
	{{ asset:css file="shCoreMidnight.css" }}
	
	{{ asset:js file="shCore.js" }}
	{{ asset:js file="shBrushPhp.js" }}
	{{ asset:js file="shBrushLex.js" }}
  {{ asset:js file="jquery.scrollTo.js" }}

	<style>body {padding-top: 60px;}</style>

<script>
  (function() {
    var cx = '011560597292813989536:zrkugzueves';
    var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
  })();
</script>

  </head>

  <body>

    <div id="container">

        <h3><img src="assets/img/logo.png" /></h3>

         <div id="box">

          <!--<p class="breadcrumbs">{{ breadcrumbs:crumbs }}</p>-->



{{# <!--<div id="search">

 	<div class="container">

 		<div class="row">

 		<div class="span12">

 			<div id="search_toggle" style="display: none;">

		 		<h2>Search the Docs:</h2>

	 			<div id="search_area">

		 			<gcse:searchbox></gcse:searchbox>
					<gcse:searchresults></gcse:searchresults> 

				</div><!--#search_area-->

			</div><!--#search_toggle-->

			
 		</div><!--.span12-->

 		</div><!--.row-->

 	</div><!--.container-->

 </div><!--#search-->

#}}

<div id="menu">

<p><strong>{{ link uri="about" title="About PyroCMS" }}</strong></p>
{{ if segment_1 == 'about'}}
  {{ nav:auto start="about" }}
{{ endif }}

<p><strong>{{ link uri="setup" title="Installing &amp; Upgrading" }}</strong></p>
{{ if segment_1 == 'setup'}}
  {{ nav:auto start="setup" }}
{{ endif }}

<p><strong>{{ link uri="concepts" title="Important Concepts" }}</strong></p>
{{ if segment_1 == 'concepts'}}
  {{ nav:auto start="concepts" }}
{{ endif }}

<p><strong>{{ link uri="modules" title="Core Modules" }}</strong></p>
{{ if segment_1 == 'modules' }}
  {{ nav:auto start="modules" }}
{{ endif }}

<p><strong>{{ link uri="plugins" title="Core Plugins" }}</strong></p>
{{ if segment_1 == 'plugins' }}
  {{ nav:auto start="plugins" }}
{{ endif }}

<p><strong>{{ link uri="plugins" title="Core Widgets" }}</strong></p>
{{ if segment_1 == 'widgets' }}
  {{ nav:auto start="widgets" }}
{{ endif }}

<p><strong>{{ link uri="field-types" title="Core Field Types" }}</strong></p>
{{ if segment_1 == 'field-types' }}
  {{ nav:auto start="field-types" }}
{{ endif }}

<p><strong>{{ link uri="developers" title="Developer Docs" }}</strong></p>
{{ if segment_1 == 'developers' }}
  {{ nav:auto start="developers" }}
{{ endif }}

<p><strong>{{ link uri="pro" title="PyroCMS Pro" }}</strong></p>
{{ if segment_1 == 'pro' }}
  {{ nav:auto start="pro" }}
{{ endif }}

<p><strong><a href="search">Search the Docs</a></strong></p>

</div><!--#menu-->

<div id="content">